<!DOCTYPE html>
<h1>pick a date</h1>

<form id="calendar" action="/spaces/request-confirmation" method="get">
  <input name="date" type="date" />
  <button type="submit">Request booking</button>
</form>
