<form action="/space" method="post"  id="space-form">
  <label for="name">
    <input type="text" id="name-of-space" name="name" placeholder="name your space">
  </label><br>
  <label for="name">
    <textarea type="text" id="description" name="description" placeholder="describe your space"></textarea>
  </label><br>
  <label for="name">
    <input type="text" id="price" name="price" placeholder="set the price per night">
  </label>
  <button type="submit">List a space</button>
</form>
